.top-to-btm {
  position: absolute;
}
.scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 1rem;
  z-index: 100;
  background-color: #7ebc90;
  border: 2px solid darkgreen;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.scrollToTop:hover {
  animation: none;
  background: #fff;
  color: #551b54;
  border: 2px solid #551b54;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 1024px) {
  .scrollToTop {
    right: 12rem;
  }
}
