* {
  box-sizing: border-box;
  text-decoration: none;
}

.wrapperProduct{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.modal {
  position: fixed;
  background-color: #AE4841;
  width: 330px;
  height: 330px;
  border-radius: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 116, 44, 0.5); /* semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Adjust the z-index as needed to ensure it's above other elements */
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-top: 5rem;
}

.modalMessage {
  margin-top: 130px;
}

.modalContent button {
  background-color: white;
  color: #AE4841;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.productFilter{
  text-align: center;
  
}