.productsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #bcd2ac;
  opacity: 0.95;
  width: 60%;
  height: 280px;
  border-style: solid;
  border-radius: 10px;
  padding: 50px 100px;
  margin-top: 100px;
}
/*
.productCard {
  display: flex;
  justify-content: center;
  background-color: #bcd2ac;
  opacity: 0.95;
  width: 60%;
  height: 280px;
  border-style: solid;
  border-radius: 10px;
  padding: 50px 60px;
}
*/
.descriptionCard {
  font-size: 27px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding: 50px 20px;
}

.productDescription {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  width: 150px;
  height: auto;
}
.productImage {
  border-style: solid;
  border-color: #2f3d24;
  border-radius: 10px;
}

.cardName {
  color: #df582e;
}

.cardPrice {
  display: flex;
  justify-content: center;
}

.addToCartButton {
  position: absolute;
  margin-left: 230px;
  margin-top: 140px;
  background-color: #df582e;
  border: 2px solid #2f3d24;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  text-decoration: none;
}
.addToCartButtonMain {
  background-color: #df582e;
  border: none;
}
