@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");

* {
  font-family: "Jolly Lodger", system-ui;
}
.cart {
  margin-top: 100px;
}

checkOutBtn {
  border-radius: 100px;
  width: 250px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  background-color: #97ce9c;
}
.container {
  background-color: azure;
  border-radius: 6%;
  width: 50%;
  margin: auto;
  height: 30rem;
}

.btnContainer {
  text-align: center;
}
.totalCounter {
  text-align: center;
}
.total {
  font-size: 30px;
}
.plusBtn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-size: 30px;
  color: orangered;
}
.minusBtn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-size: 30px;
  color: orangered;
}
.quantity {
  background-color: orangered;
  width: 35px;
  height: 35px;
  font-size: 30px;
  margin: 0 auto;
  color: white;
}

.link {
  text-decoration: none;
  color: black;
}
.discountPrompt {
  font-size: 20px;
}
.discountSubmit {
  font-size: 20px;
}
.discountInput {
  margin-bottom: 10px;
}
.discountMessage {
  font-size: 20px;
  color: green;
}
