@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");

.landing {
  font-family: "Jolly Lodger", system-ui, Arial, Helvetica, sans-serif;
  max-width: 50%;
  height: 100vh;

  display: block;
  margin: auto;
  text-align: center;
}

.landingBtnContainer {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 2rem;
}

.landingBtn {
  font-family: "Jolly Lodger", system-ui, Arial, Helvetica, sans-serif;
  font-size: 2em;
  background-color: hsl(125, 36%, 70%, 100%);
  align-self: center;
  width: 6em;
  height: 2em;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 5px 10px rgba(1, 35, 4, 0.2);
  cursor: pointer;
}
