.landing .landingBtnContainer {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  width: 100%;
}
.landingBtnContainer {
  justify-content: flex-start;
  margin: 5em auto;
  gap: 2em;
}
.landingBtn {
  font-family: "Jolly Lodger", system-ui, Arial, Helvetica, sans-serif;
  font-size: 2em;
  background-color: var(--color-primary-btn);
  width: 9em;
  height: 3em;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 -5px 10px rgba(1, 35, 4, 0.2);
  cursor: pointer;
}

.mainLogo {
  display: block;
  margin: auto;
  opacity: 0.95;
  border-color: darkolivegreen;
  border-style: groove;
  width: 250px;
  height: 240px;
  border-radius: 100%;
  background-color: white;
}

.landingBtn:hover {
  box-shadow: inset 0 -10px 10px rgba(0, 15, 2, 0.2);
  background-color: var(--color-primary-btn-hover);
  transition: 500ms;
}
@media (max-width: 64em) {
  .landingBtn {
    color: salmon; /*test*/
    width: 6.5em;
    height: 2em;
  }
}
