.app-wrapper {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.app-container {
  background-image: url(../public/Images/Background.jpg);
  background-color: var(
    --color-primary
  ); /* in case background-image is collapsed */
  background-size: 70%;
  background-position: center, center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  gap: 1rem;
}
.app-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.89); /* Adjust the alpha value for transparency */
  z-index: -1; /* Ensure the overlay is above the background image */
}

@media (max-width: 64em) {
  .app-container {
    height: 120vh;
    background-size: 90%;
  }
}

@media (max-width: 36em) {
  .app-container {
    height: 90%;
    background-size: 100%;
  }
}

