* {
  box-sizing: border-box;
}

.app-container {
  width: 390px;
  height: 3360px;
  background-image: url(../public/Images/Background.jpg);
  background-size: 400px;
  display: flex;

  border-radius: 12px;

  margin-left: 162%;
}
