* {
  box-sizing: border-box;
}

/*
.app-container {
  height: 3360px;

  background-image: url(../public/Images/Background.jpg);
  background-size: cover;
}
/*.app-container {
  min-width: 360px;
  height: 3360px;
  background-image: url(../public/Images/Background.jpg);
  background-size: 400px;
  display: flex;

  border-radius: 12px;

  margin-left: 162%;
}
*/
