/* GLOBAL STYLES */

@import url("Pages/CartPage/CartPage.module.css");
@import url("Pages/CheckoutPage/CheckoutPage.module.css");
@import url("Components/Footer/Footer.module.css");
@import url("Components/AboutUs/AboutUs.module.css");

body {
  margin: 0;
  display: flex;
  place-items: center;
  /*min-width: 1000px;*/
  min-height: 100vh;
  background-color: blueviolet;
}

