/* GLOBAL STYLES */

@import url("Pages/CartPage/CartPage.module.css");
@import url("Pages/CheckoutPage/CheckoutPage.module.css");
@import url("Components/Footer/Footer.module.css");
@import url("Components/AboutUs/AboutUs.module.css");
@import url(./Components/Navbar/Navbar.css);

@import url(./Pages/Shop/Shop.module.css);

body {
  display: flex;
  justify-content: center;

  background-image: url(../public/Images/Background.jpg);
  background-size: auto;
  background-size: 1700px 3100px;
}

#root {
  width: 90%;
}
