body {
  text-align: center;
}

.HomePageBtn {
  color: white;
  background-color: #ae4841;
  border-radius: 10rem;
  border: none;
  padding: 0.5rem 4rem 0.5rem 4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;
  margin-top: 0.9rem;
  cursor: pointer;
}

.popUpMessage {
  font-size: 1rem;
  margin-top: 2rem;
}

.checkoutPage {
  background-color: rgba(255, 255, 255, 0.885);
  border-radius: 3rem;
  padding: 0.5rem;
  margin: auto;
  margin-top: 8rem;
  height: 12rem;
  width: 20rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px) {
  .HomePageBtn {
    color: white;
    background-color: #ae4841;
    border-radius: 10rem;
    border: none;
    padding: 0.5rem 4rem 0.5rem 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 0.8rem;
    margin-top: 0.9rem;
    cursor: pointer;
  }
  .popUpMessage {
    font-size: 1.5rem;
    margin: 2rem;
  }
  .checkoutPage {
    background-color: rgba(255, 255, 255, 0.885);
    border-radius: 3rem;
    padding: 1rem;
    margin: auto;
    margin-top: 8rem;
    height: 18rem;
    width: 30rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
